
body{
    background:#FF3E00;
}



#Logo{
  transition: all 0.3s;
}
.largeLogo{width: 150px;}
.smallLogo{width: 80px;}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: transparent!important;
   
}

.fixed-top.scrolled {
  background: -webkit-linear-gradient(left, #FFCA00, #FFCA00 15%, #FF3E00 30%, #FF3E00)!important;
  transition: background-color 200ms linear;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px!important;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#ffbf00!important; 
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #ffbf00;
}

button:focus {
    outline:none;
    outline:none;
}

.navbar-light .navbar-toggler {
    border-radius: 50%;
    padding: 10px;
    border: 2px solid #ffbf00;
    color:#ffbf00; 
}


/*-------JumboTron Home --------*/
#jumbotron-home, .jumbotron, .jumbotron-fluid{
  height: 700px;
  background-image: url(../img/heroMain.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:250px;
  padding-bottom: 150px;
  background-attachment: fixed;
}


h1.display-1{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    color:#fff;
    font-weight: bold;
    font-style: normal;
}

h2{
    font-size: 40px;
    color:#FF3E00;
    font-weight: bold;
    font-style: normal;
}

p{
    color: #fff;
    font-size: 20px;
    font-family: roboto, sans-serif;
    font-weight: 400;
}

p.lead-1{
   font-family: 'Roboto', sans-serif;
   font-size: 25px;
   color: #fff;
   font-weight: 700;
   font-style: normal;
}

p.lead-3{
    font-family: 'Roboto', sans-serif;
   font-size: 20px;
   color: #fff;
   font-weight: 400;
   font-style: normal;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width:180px;
    height: 50px;
}

.btn-primary {
    color: #fff;
    background-color: transparent;
    border:1px solid #FF3E00;
}

.btn-primary:hover{
    color: #fff!important;
    background-color: #FF3E00;
    border:1px solid #FE9901;
}

a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 500px;
}

a:hover{
  text-decoration: none;
  color:#fff;
}

a:visited{
  text-decoration: none;
   color:#FE9901;
}

a.cta{
  color:#fff;
}

a.color{
    color: #FE9901!important;
}

#section-1{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #5FA2FF;
  }

#section-2{
    background-image: url(../img/section2.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 150px;
    padding-bottom: 150px;
}

p.lead-2{
   font-family: 'Roboto', sans-serif;
   font-size: 25px;
   color: #fff;
   font-weight: 700;
   font-style: normal;
}

p.lead-3{
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   color: #fff;
   font-weight: 400;
   font-style: normal;
}

#section-3{
    background:#5FA2FF;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#section-4{
    background:#FF3E00;
    width: 100%;
    background-image: url(../img/redtherapy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-attachment: fixed;
}

footer, ul, li{
  list-style-type: none;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

footer, ul, li, a{
  color: #fff!important;
}

ul, li, a:hover{
  color: #ffbf00;
}

footer{
  width: 100%;
  background: #5FA2FF;
  color:#fff;
  padding-top:50px;
  padding-bottom: 50px;
}
/*----Image Hover Overlay and Side Box--*/


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
 background: -webkit-linear-gradient(left, #FFCA00, #FFCA00 15%, #FF3E00 30%, #FF3E00)!important;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 30%;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: .2;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h3 {
  color: #fff;
  font-family: 'roboto', sans-serif;
  text-align: center;
  position: relative;
  font-size:30px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 2px;
}

.hovereffect h3:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h3:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


/*---Sie Box Hover-----*/
figure.snip1104 {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  background-color:transparent;
  color: #ffffff;
  text-align: center;
}

figure.snip1104 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.snip1104 img {
  max-width: 100%;
  position: relative;

}

figure.snip1104 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.snip1104 h2 {
  height:100%;
  position: absolute;
  left: 0px;
  padding: 120px 5px;
  margin: 0;
  top: 0;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1104 h2 span {
  font-weight: 800;
}

figure.snip1104:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: transparent;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.snip1104 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}



figure.snip1104:hover img,
figure.snip1104.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.snip1104:hover h2,
figure.snip1104.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-180%, 0%);
  transform: skew(-10deg) rotate(-10deg) translate(-180%, 0%);
}

figure.snip1104:hover:before,
figure.snip1104.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}

.red{
    background:#FF3E00;

}

.yellow{
    background:#FFC91F;

}

.orange{
    background:#FE9901;

}

.icon{
    width: 60px;
    height: 45px;
}


@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)  { 

  .hoversmall .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 10%;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

  .small{
    font-size: 20px!important;
  }



}


@media only screen 
and (min-width : 375px) 
and (max-width : 812px)
{ 

  .hovereffect h3 {
  color: #fff;
  font-family: 'roboto', sans-serif;
  text-align: center;
  position: relative;
  font-size:30px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 2px;
}




}






